#=============================================================
# GLOBAL PARAMETERS CONFIGURATION                            |
#=============================================================
#-------------------------------------------------------------
# [*] SIMD micro-kernel Software Pipelining: 
#     [ T:Enable, F:Disable ]
#-------------------------------------------------------------
PIPELINING=F
#-------------------------------------------------------------
# [*] SIMD micro-kernel Unroll Factor: 
#     [ 0, 2, 4, 6, 8]
#-------------------------------------------------------------
UNROLL=0
#-------------------------------------------------------------
# [*] Enabling Broadcast 
#     (by default vlane instrinsics are used)
DUP=F
#-------------------------------------------------------------
# [*] Architecture File Configuration:
#     File Name from "SIMD-arch" directory:
#         [*] A57  
#         [*] A78AE  
#         [*] K1 
#         [*] C906  
#         [*] C908  
#         [*] C910  
#         [*] CARMEL
CPU=A78AE
#=============================================================




#=============================================================
# PARAMETERS ONLY FOR RISC-V                                 |
#=============================================================
#-------------------------------------------------------------
# [*] SIMD Risc-V micro-kernel Reorder Loads: 
#     [ T:Enable, F:Disable ]
#-------------------------------------------------------------
REORDER=T
#-------------------------------------------------------------
# [*] SIMD Risc-V Matrix Operation Mode: 
#     [ NORMAL, GATHER, BROADCAST ]
#-------------------------------------------------------------
OP=BROADCAST
#=============================================================
